openCurly > closeCurly, 
comma[foo], 
colon[foo=bar] bat, 
openParen[foo="bar"], 
closeParen, 
foo[bar~=baz]
px, 
rgb {
    -webkit-border-radius:12px;
    color: rgb(178.5, 35.7, 135.15);
    background-color: rgb(30, 30, 36);
    font-family: 'Monaco';
    font-size: 11 em;
    font-weight: bold;
}

selector {
    color:rgb(255, 255, 255);
    background-color:rgb(20, 20, 26);
    font-family:'Monaco';
    font-size:11px;
}

constants, string, semi {
    color:rgb(196.35, 45.9, 51.0);
    background-color:rgb(20, 20, 26);
    font-family:'Monaco';
    font-size:11px;
}

property {
    color:rgb(84.15, 114.75, 122.4);
    background-color:rgb(20, 20, 26);
    font-family:'Monaco';
    font-size:11px;
}

word {
    color:rgb(255, 255, 255);
    background-color:rgb(30, 30, 36);
    font-family:'Monaco';
    font-size:11px;
}

num {
    color:rgb(22.95, 158.1, 188.7);
    background-color:rgb(30, 30, 36);
    font-family:'Monaco';
    font-size:11px;
}
